# .gitignore
/data/models/
/data/naming_metadata/
/data/inter_rank_relatedness.csv
data/presence_absence_4083.csv
data/embeddings_annotated_expanded.csv
data/4083_%_shared_proteins.csv
/data/4084_dice_cov5_c0.4_tm0.3_re1_e1e-2.phylip